/** @format */

.button {
  display: inline-block;
  font-size: 1.3rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-transform: capitalize;
  border: none;
  background-color: #845ef7;
  color: #e9ecef;
  cursor: pointer;
  /* margin: 5rem auto; */
}

.button:hover {
  /* background-color: #adb5bd; */
  background-color: transparent;
  color: #845ef7;
  border: 1px solid #845ef7;
  transition: all 0.5s linear;
}
